@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*{
    font-family: "Kumbh Sans", sans-serif;
}

.main{
    margin-left: 5%;
    margin-right: 5%;
}

.header{
    display: flex;
    align-items: center;
}

.header__title{
    width: 50%;
    display: flex;
    justify-content: center;
}

.line{
    border-color: hsl(223, 64%, 98%);
    margin-left: auto;
    margin-right: auto;
}

.section{
    margin-top: 3%;
    width: 100%;
}

.article__actions{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.create:hover{
    cursor: pointer;
    background-color: hsl(101, 84%, 64%);
}

.article__actions--button{
    width: 30%;
    border: 1px solid hsl(26, 100%, 55%);
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;
    background-color: hsl(25, 100%, 94%);
    font-weight: 900;
    font-size: 120%;
}

.article__actions--button > figure{
    margin: 0;
}

.article__actions--button > figure > img {
    width: 100%;
}

.article__items{
    margin-top: 3%;
}

.article__items--table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}  
.article__items--table td, .article__items--table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.article__items--table tr:nth-child(even){
    background-color: #f2f2f2;
}

.article__items--table tr:hover {
    background-color: #ddd;
}

.article__items--table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: hsl(26, 100%, 55%);
    color: white;
}

.images__products{
    margin: 0;
    width: 100%;
    border-radius: 15px;
}

.images__products:hover{
    cursor: pointer;
    border: 1px solid hsl(26, 100%, 55%);
}

.images__products > img {
    width: 100%;
    border-radius: 15px;
}

.article__items--table--tr:hover{
    cursor:pointer;
}